kind: Secret
apiVersion: v1
metadata:
  name: thanos-object-storage
  namespace: open-cluster-management-observability
stringData:
  thanos.yaml: |
    type: s3
    config:
      bucket: ${BUCKET}
      endpoint: ${ENDPOINT}
      insecure: false
      access_key: ${ACCESS_KEY}
      secret_key: ${SECRET_KEY}
type: Opaque
