kind: Secret
apiVersion: v1
metadata:
  name: multiclusterhub-operator-pull-secret
  namespace: open-cluster-management-observability
stringData:
  .dockerconfigjson: '{blah}'
type: kubernetes.io/dockerconfigjson