apiVersion: v1
kind: ClusterLogging
metadata:
  name: instance
  namespace: {{ cluster_logging_namespace }}
spec:
  collection:
    type: {{ logging_collection_type }}
  logStore:
    elasticsearch:
      nodeCount: {{ logging_elastic_nodeCount }}
      redundancyPolicy: {{ logging_redundancyPolicy }}
      resources:
        requests:
          memory: {{ logging_requests_memory }}
      storage:
        size: {{ logging_storage_size }}
        storageClassName: {{ logging_storageClassName }}
    retentionPolicy:
      application:
        maxAge: {{ logging_retention_application }}
      audit:
        maxAge: {{ logging_retention_audit }}
      infra:
        maxAge: {{ logging_retention_infra }}
    type: elasticsearch
  managementState: Managed
  visualiztion:
    kibana:
      replicas: {{ logging_kibana_replicas }}
    type: kibana
