apiVersion: v1
kind: PersistentVolumeClaim
Metadata:
  Name: image-registry-storage
  Namespace: openshift-image-registry
Spec:
  accessModes:
    - {{ registry_access_mode }}
  resources:
    requests:
      storage: {{ registry_storage_size }}
  storageClassName: {{ registry_storage_class_name }}
  volumeMode: Filesystem
