apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: image-registry-storage
  namespace: openshift-image-registry
spec:
  accessModes:
    - {{ registry_access_mode }}
  resources:
    requests:
      storage: {{ registry_storage_size }}
  storageClassName: {{ registry_storage_class_name }}
  volumeMode: Filesystem
