kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v1alpha2
storageConfig:
{% if mirror_direct == true %}
  registry:
    imageURL: {{ mirror_registry_uri }}/{{ mirror_registry_path }}
    skipTLS: {{ mirror_skipTLS }}
{% else %}
  local:
    path: ./working/mirror
{% endif %}    
mirror:
  platform:
    channels:
    - name: stable-{{ mirror_ocp_major_release }}
      type: ocp
      minVersion: {{ mirror_ocp_major_release }}.{{ mirror_ocp_min_minor_release }}
{%- if mirror_redhat_operators is defined or 
      mirror_certified_operators is defined or 
      mirror_community_operators is defined %}      
  operators:
{%- endif %}
{% if mirror_redhat_operators is defined %}      
    - catalog: registry.redhat.io/redhat/redhat-operator-index:v{{ mirror_ocp_major_release }}
      packages:
{%- for operator in mirror_redhat_operators %}    
      - name: {{ operator.name }}
        channels:
          - name: {{ operator.channel }}
{%- endfor %}
{% endif %}
{% if mirror_certified_operators is defined %}      
    - catalog: registry.redhat.io/redhat/certified-operator-index:v{{ mirror_ocp_major_release }}
      packages:
{%- for operator in mirror_certified_operators %}    
      - name: {{ operator.name }}
        channels:
          - name: {{ operator.channel }}
{%- endfor %}
{% endif %}
{% if mirror_community_operators is defined %}      
    - catalog: registry.redhat.io/redhat/community-operator-index:v{{ mirror_ocp_major_release }}
      packages:
{%- for operator in mirror_community_operators %}    
      - name: {{ operator.name }}
        channels:
          - name: {{ operator.channel }}
{%- endfor %}
{% endif %}