apiVersion: v1
baseDomain: {{ install_base_domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
{%- if install_compute_cpu is defined or
       install_compute_memory is defined %}
  platform:
    vsphere:
{% if install_compute_cpu is defined %}
      cpus: {{ install_compute_cpu }}
{%- endif %}       
{% if install_compute_memory is defined %}
      memoryMB: {{ install_compute_memory }}
{%- endif %}
{% else %}  
  platform: {}
{%- endif %} 
  replicas: {{ install_workers_count }} 
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: control
{%- if install_controlplane_cpu is defined or
      install_controlplane_memory is defined %}
  platform:
    vsphere:
{% if install_controlplane_cpu is defined %}
      cpus: {{ install_controlplane_cpu }}
{%- endif %}       
{% if install_controlplane_memory is defined %}
      memoryMB: {{ install_controlplane_memory }}
{%- endif %}
{% else %}  
  platform: {}
{%- endif %} 
  replicas: {{ install_controllers_count }}
metadata:
  name: {{ install_cluster_name }} 
platform:
{% if install_vsphere_server is defined %}
  vsphere: 
    apiVIPs:
      - {{ install_api_vip }}
    failureDomains: 
    - name: fd1
      region: region1
      server: {{ install_vsphere_server }}
      topology:
        computeCluster: "/SDDC-Datacenter/host/Cluster-1"
        datacenter: SDDC-Datacenter 
        datastore: "/SDDC-Datacenter/datastore/WorkloadDatastore"
        networks:
        - segment-sandbox-{{ install_cluster_name }}
        #resourcePool: "/<datacenter>/host/<cluster>/Resources/<resourcePool>" 
        folder: "/SDDC-Datacenter/vm/Workloads/sandbox-{{ install_cluster_name }}"
      zone: zone1
    ingressVIPs:
    - {{ install_ingress_vip }}
    vcenters:
    - datacenters:
      - SDDC-Datacenter
      password: {{ install_vsphere_password }}
      port: 443
      server: {{ install_vsphere_server }}
      user: {{ install_vsphere_user }}
      diskType: thin 
{%- if install_vsphere_static_ips is defined %}
    hosts: 
#
# This bit is not working
#
{% for key, value in install_vsphere_static_ips.items() %}
    - role: {{ key }}
{% for ip in value %}
      - {{ ip }}
{%- endfor %}
{%- endfor %}     
{%- endif %}       
{%- endif %}      
fips: false
pullSecret: '{{ install_pull_secret | to_json }}' 
sshKey: '{{ install_ssh_public_key }}'
{% if install_httpProxy is defined or
      install_httpsProxy is defined %}
proxy:      
{% if install_httpProxy is defined %}
  httpProxy: {{ install_httpProxy }}
{% endif %}
{% if install_httpsProxy is defined %}
  httpsProxy: {{ install_httpsProxy }}  
{% endif %}
{% if install_no_proxy is defined %}
  no_proxy: {{ install_no_proxy }}  
{% endif %}
{%- endif %}       
{%- if install_mirror is defined %}
{{ install_mirror }}
{%- endif %}
{% if install_additionalTrustBundle is defined %}
additionalTrustBundle: |
{% include install_additionalTrustBundle ignore missing %}
{%- endif %}       
