apiVersion: v1
kind: ConfigMap
metadata:
  name: custom-ca
  namespace: {{ ldap_namespace }}
data:
{% if ldap_namespace == "openshift-config" %}
  ca-bundle.crt: |
{% elif ldap_namespace == "ldap-sync" %}
  ca.crt |
{% endif %}
{% include "working/ca.pem" %}